:root {
    --color-primary: #6ec1e4;     
    --color-secondary: #c89de0; 
    --color-tertiary: #ff8fb1;     
    --color-accent: #ffe8a1;       
    --color-button: #ff8fb1;       
    --color-button-hover: #ff6f91; 
    --color-text: #ffffff;        
    --color-white: #ffffff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    margin: 0;
}

.main-content {
    flex: 1; 
    display: flex;
    flex-direction: column;
}

.header-banner {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
}

.input-section {
    flex: 6;
    background-color: var(--color-secondary);
    border: 1px solid #000000;
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.main-title {
    text-align: center;
    font-size: 48px;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
}

.section-title {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-white);
    margin: 10px 0;
    text-align: center;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #f0f0f0;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
}

.button-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    margin-top: 20px;
}

button {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: 2px solid #000000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgb(179, 171, 171);
    cursor: pointer;
}

.button-add {
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    background-color: var(--color-button-hover);
}

.iconReiniciar {
    width: 25px;
    height: auto;
}

.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 16px;
}

.button-draw img {
    margin-right: 40px;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}

.button-restart {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 10px 40px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 16px;
    border: 2px solid #000000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-family: "Inter", sans-serif;
}

.button-restart:hover {
    background-color: var(--color-button-hover);
}

ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin: 20px 0;
}

.result-list {
    margin-top: 15px;
    color: #29012b;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.rodape {
    color: rgb(255, 244, 244);
    background-color: #6ec1e4;
    padding: 5px 10px;       
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 30px; 
    text-align: center;
    font-size: 0.9rem;      
    font-weight: 400;
}

@media (max-width:768px) {
    .img {
        display: none;
    }
    .rodape {
        padding: 10px;
        height: auto;
    }
}

    
